* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;   /* controlar el comportamiento del Scroll */
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(87, 166, 231);
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;   /* todo lo que salga se oculte */
    margin: auto;       /* para centrar todo */
    padding: 60px 0;    /* espaciado entre los elementos, 60px arriba y abajo, y 0 a los lados */
}

.header{
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%),
                radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply; 
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hamburguesa{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu{
    position: fixed;
    top: 0px;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(to top, #acbff3 0%, #acbff3 100%);
    background-image: linear-gradient(135deg, #acbff3 0%, #acbff3 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    right: 0;
    transform: translate(110%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0);
}

.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu a:hover{
    color: rgb(34, 16, 116);
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(49, 177, 177);   /*añadido*/
    padding-bottom: 4px auto;                       /*añadido*/
}

.copy{
    font-weight: 300;
    font-size: 25px;
}
   /*.contenedor img{
       width: 100px;
       height: 100px;
   }*/
/**********************Perfil***********************/   


.presentation{
    padding-top: 0;
    padding-bottom: 30px;
    text-align: center;
    background: #f2f2f2;
}

.imagen{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #0e0372;
    margin-bottom: 10px;
    object-fit: cover;       /*no perder resolucion*/
    object-position: top;    /*perpectiva desde arriba*/
}

.text{
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    text-align: justify;
}
/******************Mis servicio*********************/

.subtitulo{
    color: #000000;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly; /*espacio equitativo en el eje horizontal*/
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #0e0372;
}

.number{
    display: inline-block;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%),
                radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    width: 30px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    font-weight: 700;
}

.gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}

.img-galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    cursor: pointer;
}

   .imagen-light{
       position: fixed;
       display: flex;
       align-items: center;
       justify-content: center;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       background: rgba(0, 0, 0, 0.534);
       transform: translate(100%);
       transition: transform .2s ease-in-out;
   }

.agregar-imagen{
    /*object-fit: cover;*/
    width: 60%;
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.show{
    transform: translate(0);
}

    /*.leyend{
        position: fixed;
        color: #fff;
        bottom: 40px;
    }*/

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.expert{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}
.cont-expert img{
    display: block;
    margin: auto;
    width: 40%;                              /*alterado*/
    padding: 4px;                            /*añadido*/
    background-color: #fff;                /*añadido*/
    border: 4px solid rgb(201, 118, 9);    /*añadido*/
    border-radius: 15%;                      /*añadido*/
}

.n-expert{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
}

/********************************************Footer***********************************************/

footer{
    background: #020202;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

span{
    color: rgb(17, 90, 150)
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.social-media-icon:hover{
    background: #fff;
    color:#06156e;
}

.whatsapp{
    position: fixed;
    right: 26px;
    bottom: 20px; /*100*/
    width: 60px;
    z-index: 1000; /*se sobrepone por encimas de los elementos*/
}

.whatsapp img{
    width: 100%; /*100% de su contenedor padre*/
    height: auto;
}

/***************************************RESPONSIVE*****************************************/

@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px; 
    }

    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .img-galeria{
        width: 45%;
    }

    .agregar-imagen{
        width: 80%;
    }

    .cont-expert{
        width: 80%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .social-media-i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width:80%;
        margin-bottom: 40px;
    }

}

@media screen and (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }

    .hamburguesa{
        top: 20px;
        right: 20px;;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    /***************ojo*********************/

    /**************ojo*****************/

    .img-galeria{
        width: 95%;
    }

    .agregar-imagen{
        width: 90%;
    }

    .social-media{
        width: 100%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 90%;
        margin-bottom: 40px;
    }
}